[run]
source = .
omit = 
    */tests.py
    */test_*.py
    */*test*.py
    */migrations/*
    manage.py
    */venv/*
    */.venv/*
    */env/*
    */.env/*
    */settings_ci.py
    */conftest.py
    event_organizer/asgi.py
    event_organizer/wsgi.py
    catalog/views.py
    orders/views.py
    tickets/views.py
    tickets/management/commands/fix_rsvp_duplicates.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    if settings.DEBUG
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:
    class .*\bProtocol\):
    @(abc\.)?abstractmethod
    if TYPE_CHECKING:
